@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Nunito;
    src: url('/fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf')
        format('truetype');
}

html {
    font-family: Nunito;
    font-weight: 300;
    height: 100%;
}

body {
    height: 100%;
}

#root {
    min-height: 100%;
}
