@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Nunito;
    src: url('../public/fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf')
        format('truetype');
}

html {
    font-family: Nunito;
}
